on:
  workflow_call:
    inputs:
      path:
        required: true
        type: string
      team:
        required: false
        type: string
        default: pensjon-person
    outputs:
      image:
        value: ${{ jobs.build-backend-and-publish-docker.outputs.image }}

jobs:
  build-backend-and-publish-docker:
    name: Build backend application
    runs-on: ubuntu-latest
    permissions:
      contents: "read"
      id-token: "write"
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1

      - name: Setup java
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'

      - name: Setup cache
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      - name: Build
        run: cd .${{ inputs.path }} && mvn -B package --file pom.xml

      - name: docker-build-push
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: ${{ inputs.team }}
          dockerfile: .${{ inputs.path }}/Dockerfile
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
