name: "Build maven"

on:
  workflow_call:
    inputs:
      path:
        required: false
        default: ""
        type: string
      java-version:
        required: false
        default: 17
        type: string
jobs:
  build-backend:
    name: Build backend application
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ inputs.java-version }}
      - name: Setup cache
        uses: actions/cache@v4
        with:
          path: ~/.m2/repository
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-
      - name: Build
        run: cd .${{ inputs.path }} && mvn -B package --file pom.xml
