name: "Build frontend and publish docker"

on:
  workflow_call:
    inputs:
      path:
        required: false
        default: ""
        type: string
      team:
        required: true
        type: string
      app:
        required: true
        type: string
      build_script_command:
        required: true
        type: string
      node_version:
        required: false
        type: string
        default: "18.18.1"
      prune_dev_dependencies:
        required: false
        type: boolean
        default: false
    outputs:
      image:
        value: ${{ jobs.build-frontend-and-publish-docker.outputs.image }}

jobs:
  build-frontend-and-publish-docker:
    name: Build frontend application
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./${{ inputs.path }}
    permissions:
      contents: read
      id-token: write
    outputs:
      image: ${{ steps.docker-build-push.outputs.image }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node_version }}
          registry-url: 'https://npm.pkg.github.com'
          cache: npm

      - name: Install dependencies
        run: npm ci
        env:
          NODE_AUTH_TOKEN: ${{ secrets.READER_TOKEN }}

      - name: Build application
        run: npm run ${{ inputs.build_script_command }}

      - name: prune dev dependencies
        if: ${{ inputs.prune_dev_dependencies == true }}
        run: npm prune --production

      - name: docker-build-push
        uses: nais/docker-build-push@v0
        id: docker-build-push
        with:
          team: ${{ inputs.team }}
          dockerfile: ./${{ inputs.path }}/.docker/Dockerfile
          image_suffix: ${{ inputs.app }}
