name: Deploy

on:
  workflow_call:
    inputs:
      cluster:
        required: true
        type: string
      nais-template:
        required: true
        type: string
      image:
        required: true
        type: string
      team:
        required: true
        type: string

jobs:
  deploy:
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Deploy
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: ${{ inputs.cluster }}
          RESOURCE: ${{ inputs.nais-template }}
          IMAGE: ${{ inputs.image }}
          TEAM: ${{ inputs.team }}