name: Merge dependabot pr
on:
  workflow_call:
    inputs:
      workflow-id:
        required: false
        default: "build-and-deploy.yml"
        type: string
      label:
        required: false
        default: "automerge"
        type: string

jobs:
  merge-pullrequests:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/github-script@v7
        env:
          WORKFLOW_ID: ${{ inputs.workflow-id }}
          LABEL: ${{ inputs.label }}
        with:
          script: |
            const { WORKFLOW_ID } = process.env
            const { LABEL } = process.env
            
            console.log("WORKFLOW_ID: " + WORKFLOW_ID)
            console.log("LABEL: " + LABEL)
            
            const today = new Date();
            const julStart = new Date(today.getFullYear(), 11, 20);
            const julSlutt = new Date(today.getFullYear(), 11, 31);
            const nyttaarStart = new Date(today.getFullYear(), 0, 1);
            const nyttaarSlutt = new Date(today.getFullYear(), 0, 3);

            if ((today >= julStart && today <= julSlutt) || (today >= nyttaarStart && today <= nyttaarSlutt)) {
                console.log('Skriptet kjører ikke i ferier');
                return;
            }


            const pulls = await github.request('GET /repos/{owner}/{repo}/pulls', {
                owner: context.repo.owner,
                repo: context.repo.repo,
            })
            
            console.log("Initial pulls count: ", pulls.data.length)
            
            const openPulls = pulls.data.filter((it) => it.state == 'open')
            console.log("Open pulls count: ", openPulls.length)
            
            const nonForkPulls = openPulls.filter((it) => !it.head.repo.fork)
            console.log("Non-fork pulls count: ", nonForkPulls.length)
            
            nonForkPulls..forEach((it) => {
              console.log("NonForkPulls: " + it.title + ": " + it.created_at)
            })
            
            const labeledPulls = nonForkPulls.filter((it) => it.labels.some((l) => l.name == LABEL))
            console.log("Labeled pulls count: ", labeledPulls.length)
            
            labeledPulls.forEach((it) => {
              console.log("LabeledPulls: " + it.title + ": " + it.created_at)
            })
            
            const oldPulls = labeledPulls.filter((it) => {
              const prCreated = new Date(it.created_at)
              const threeDays = 3 * 24 * 60 * 60 * 1000
              return prCreated.getTime() < Date.now() - threeDays
            })
            console.log("Old pulls count: ", oldPulls.length)
            
            const pullDetails = oldPulls.map((it) => {
              return {
                title: it.title,
                number: it.number,
              }
            })
            console.log("Pull details count: ", pullDetails)
            
            const detailedPulls = await Promise.all(pullDetails.map(async (it) => {
              const QUERY = `query($owner: String!, $repo: String!, $pull_number: Int!) {
                                        repository(owner: $owner, name:$repo) {
                                          pullRequest(number:$pull_number) {
                                            commits(last: 1) {
                                              nodes {
                                                commit {
                                                  statusCheckRollup {
                                                    state
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }`
          
              const result = await github.graphql(QUERY, {
                owner: context.repo.owner,
                repo: context.repo.repo,
                pull_number: it.number,
              })
              
              const [{ commit: lastCommit }] = result.repository.pullRequest.commits.nodes
                return {
                title: it.title,
                number: it.number,
                checksOk: lastCommit.statusCheckRollup?.state === 'SUCCESS',
              }
            }))
            
            console.log("Detailed pulls with status checks count: ", detailedPulls.length)

            const allePrs = await Promise.all(detailedPulls)
            const mergeablePromise = allePrs
                .filter((it) => it.checksOk)
                .map(async (it) => {
                    const prdata = await github.request('GET /repos/{owner}/{repo}/pulls/{pull_number}', {
                        owner: context.repo.owner,
                        repo: context.repo.repo,
                        pull_number: it.number
                    })
                    return {
                        title: it.title,
                        number: it.number,
                        mergeable: prdata.data.mergeable
                    }
                })


            const mergeable = (await Promise.all(mergeablePromise))
                .filter((it) => {
                  return it.mergeable;
                })
            console.log("mergeable: " + mergeable.length)
            
            if (mergeable.length > 0) {
                const pr = mergeable[0]
                console.log('Merger PR', pr.title)
                await github.request('PUT /repos/{owner}/{repo}/pulls/{pull_number}/merge', {
                    owner: context.repo.owner,
                    repo: context.repo.repo,
                    pull_number: pr.number,
                    merge_method: 'squash'
                })
            
              console.log('Starter main workflow')
            
              await github.request(
                  'POST /repos/{owner}/{repo}/actions/workflows/{workflow_id}/dispatches',
                  {
                      owner: context.repo.owner,
                      repo: context.repo.repo,
                      workflow_id: WORKFLOW_ID,
                      ref: 'main',
                  }
              )
            } else {
                console.log('Ingen PRer å merge')
            }