name: Trivy docker
on:
  workflow_call:
    inputs:
      image:
        required: true
        type: string
      team:
        required: false # Burde være required - fiks for konsumenter først
        type: string
        default: pensjon-person

jobs:
  trivy:
    runs-on: ubuntu-latest
    steps:
      - uses: nais/login@v0
        with:
          team: ${{ inputs.team }}
      - name: Run Trivy vulnerability scanner
        #        if: github.ref == 'refs/heads/main'
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ inputs.image }}
          format: 'sarif'
          output: 'trivy.sarif'
          severity: 'HIGH,CRITICAL'
          limit-severities-for-sarif: true
      - name: Upload results to GitHub Security
#        if: github.ref == 'refs/heads/main'
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: 'trivy.sarif'
